.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.channel-info {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.channel-name {
  font-size: 14pt;
  font-weight: bold;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
}

.message-form,
.invite-form {
  display: flex;
  margin-bottom: 10px;
}

.message-form input,
.invite-form input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-form button,
.invite-form button,
.delete-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.message-form button:hover,
.invite-form button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

.delete-button {
  padding: 10px 20px;
  border: none;
  background-color: #b3001b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff1a4d;
}
