.navbar {
    background-color: #3559f9;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: fixed; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure the navbar is above other elements */
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .navbar a:hover {
    background-color: #ffffff;
    border-radius: 5px;
    color: #4535f9;
    transition: 300ms;
  }